.profile-card {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(135deg,#eef3ff,#f5f0ff,#ecfdf5);
  padding: 20px;
  border-radius: 16px;
  width: 98%;
  margin-top: 10px;
}

.profile-left {
  display: flex;
  gap: 15px;
  align-items: center;
}

.avatar-wrapper {
  position: relative;
}

.online-dot {
  position: absolute;
  bottom: 4px;
  right: 4px;
  width: 12px;
  height: 12px;
  background: green;
  border-radius: 50%;
}

.tags {
  margin-top: 8px;
  display: flex;
  gap: 6px;
}

.profile-right {
  display: flex;
  gap: 20px;
}

.profile-right div span {
  margin-top: 20px;
  display: block;
  font-size: 11px;
  color: gray;
}